REACT_APP_SHAREPOINT_SITE_URL=https://tenant.sharepoint.com/sites/site-name
REACT_APP_SHAREPOINT_SITES=Site A|https://tenant.sharepoint.com/sites/site-a,Site B|https://tenant.sharepoint.com/sites/site-b
REACT_APP_TENANT_ID=00000000-0000-0000-0000-000000000000
REACT_APP_CLIENT_ID=00000000-0000-0000-0000-000000000000
REACT_APP_REDIRECT_URI=
REACT_APP_SHAREPOINT_REST_SCOPE=
